{% extends "base.html" %}

{% block title %}Tentang Saya{% endblock %}
{% block meta_description %}Jelajahi pengalaman menarik tentang saya yang seorang full-stack development.{% endblock %}

{% block og_title %}Tentang Saya{% endblock %}
{% block og_description %}Jelajahi pengalaman menarik tentang saya yang seorang full-stack development.{% endblock %}
{% block og_image %}https://res.cloudinary.com/dzsqaauqn/image/upload/v1754726625/Star_a3iv6m.jpg{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <h1>Tentang Saya</h1>
            <p>Saya adalah seorang pengembang yang fokus pada full-stack development. Saya memiliki pengalaman dalam membangun aplikasi web yang responsif dan efisien.</p>
            <p>Saya menyukai tantangan dan selalu ingin belajar teknologi baru. Saya berdedikasi untuk menciptakan solusi yang bersih dan mudah digunakan.</p>
            <h3>Riwayat Singkat</h3>
            <p>Saya sedang menempuh pendidikan di kampus Areta Informatics Collage dan Saya memiliki pengalaman dalam pengembangan aplikasi web full-stack, desain antarmuka pengguna yang berpusat pada pengguna, atau manajemen database yang efisien. Saya selalu tertarik untuk mempelajari teknologi baru dan menerapkan praktik terbaik untuk menghasilkan produk yang berkualitas tinggi.</p>
        </div>
    </div>
{% endblock %}