{% extends "base.html" %}

{% block title %}Tambah Blog{% endblock %}

{% block content %}
    <div class="row">
        <div class="column column-50 column-offset-25">
            <h1>Tambah Postingan Blog</h1>
            <form action="{{ url_for('add_blog') }}" method="post">
                <fieldset>
                    <label for="title">Judul Postingan</label>
                    <input type="text" id="title" name="title" required>
                    <label for="content">Konten</label>
                    <textarea id="content" name="content" rows="10" required></textarea>
                    
                    <input class="button-primary" type="submit" value="Simpan Postingan">
                    <a class="button button-outline" href="{{ url_for('admin_blog_dashboard') }}">Batal</a>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}